$primaryBtn : rgb(84, 168, 201);
$textColor: rgb(83, 80, 80);

header {
    background-color: lightblue;
    display: flex;
    justify-content : center;
    color: $textColor;
    button {
        background: $primaryBtn;
        &:hover{
            background: red;
        }
        &::after{
            content: " $";
        }
    }
}

.contact button{
    background: $primaryBtn;
}