:root {
  --background-color: hsl(0, 0%, 11%);
  --text-color: hsl(0, 0%, 100%);
  --negative-text-color: hsl(0, 0%, 11%);
}

.magenta {
  background-color: hsl(300, 100%, 30%);
}

.green {
  background-color: hsl(120, 100%, 27%);
}

.blue {
  background-color: hsl(240, 100%, 30%);
}
