:root {
  --background-color: hsl(0, 0%, 11%);
  --background-image: url("/app/imgs/util/background.jpg");
  --horizontal-overlay-background-image: url("/app/imgs/util/background-contextX.png");
  --horizontal50a-overlay-background-image: url("/app/imgs/util/background-contextX50a.png");
  --horizontal50b-overlay-background-image: url("/app/imgs/util/background-contextX50b.png");
  --vertical-overlay-background-image: url("/app/imgs/util/background-contextY.png");
  --background-angle-eucalyptus: url("/app/imgs/util/background-angle-eucalyptus.png");
  --text-color: hsl(0, 0%, 100%);
  --negative-text-color: hsl(0, 0%, 11%);
}

.magenta {
  background-color: hsl(300, 100%, 30%);
}

.green {
  background-color: hsl(120, 100%, 27%);
}

.blue {
  background-color: hsl(240, 100%, 30%);
}
