@use "../util/" as u;

h1,
h2,
h3 {
  text-align: center;
  font-weight: 700;
  //padding: u.rem(16) 0;
  margin: 0;
}

h1 {
  &.heavenfield {
    font-size: clamp(u.rem(16), u.rem(32) + 4vw, u.rem(100));
    font-family: "heavenfield";
  }
  &.heavenfield-typewriter {
    font-size: clamp(u.rem(32), u.rem(64) + 4vw, u.rem(100));
    font-family: "heavenfield-typewriter";
  }
}

h2 {
  &.heavenfield {
    font-size: clamp(u.rem(8), u.rem(16) + 3vw, u.rem(50));
    font-family: "heavenfield";
  }
  &.heavenfield-typewriter {
    font-size: clamp(u.rem(16), u.rem(40) + 3vw, u.rem(80));
    font-family: "heavenfield-typewriter";
  }
}

p {
  margin-top: 0;
  font-size: u.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
