@use "../util" as u;

@supports not (display: grid) {
  .grid {
    max-width: u.rem(800);
    margin: 0 auto;
  }
}

.grid {
  @include u.breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, u.rem(600))) 1fr;
  }
}

// SPLASH
.img-splash {
  max-height: 40vh;
  overflow: hidden;
}

.splash {
  background: #fff6e5;
  color: var(--negative-text-color);
  padding-bottom: u.rem(32);
}

.splash-content,
.more-content,
.buckets ul {
  grid-column: 2/4;
}

.splash-content {
  padding: u.rem(32);
}

.splash-text {
  @include u.breakpoint(medium) {
    columns: 2;
    column-gap: u.rem(32);
  }
}

// MORE
.more {
  padding: u.rem(32);
}

// BUCKET
.buckets {
  padding: u.rem(32) u.rem(16) u.rem(16);
  color: var(--negative-text-color);

  & ul {
    margin: 0;
    padding: 0;

    @include u.breakpoint(small) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  & li {
    margin-bottom: u.rem(16);
    background: white;
    list-style-type: none;

    @include u.breakpoint(small) {
      width: 48%;
    }

    @include u.breakpoint(medium) {
      width: 31%;
    }
  }

  &___bucket {
    padding: u.rem(16);
  }
}

//TWINS
.twin,
.colophon aside {
  @include u.breakpoint(medium) {
    grid-column: span 2;
  }
}

.twin {
  padding: u.rem(32);
  background: #2185c5;
  color: white;

  &:last-of-type {
    background: #ff7f66;
  }
}

//COLOPHON
.colophon {
  padding: u.rem(32);
  background: hsl(0, 0%, 10%);
  color: white;
  text-align: center;
}
