@use "../util" as u;

@supports not (display: grid) {
  .grid {
    max-width: u.rem(800);
    margin: 0 auto;
  }
}

.grid {
  --column-count: 3;
  display: grid;
  z-index: 1;
  position: relative;

  &__gap-xs {
    gap: 0.1rem;
  }
  &__gap-s {
    gap: 0.5rem;
  }
  &__gap-m {
    gap: 1rem;
  }
  &__gap-l {
    gap: 1.5rem;
  }
  &__gap-xl {
    gap: 3rem;
  }

  &__full {
    grid-template-columns: 1fr;
  }
  &__3-513 {
    grid-template-columns: 5fr 1fr 3fr;
  }
  &__auto-xs {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  &__auto-s {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  &__auto-m {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    @include u.breakpoint(small) {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }
  &__auto-l {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
  &__auto-xl {
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  }
}
