.parallax-splash {
  /* Votre image */
  background-image: url("/app/imgs/util/parallax02.JPG");

  /* Une hauteur variable */
  height: 100vh;

  /* L'effet de parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* need to be set to master div of the content*/
.parallax-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;

  .scene {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: -1;
    margin: 0 auto;
  }

  .background {
    transform: translateZ(-10px) scale(2.1);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .middleground {
    transform: translateZ(-8px) scale(1.8);
    width: 100%;
    object-fit: cover;
    bottom: 0;
    max-width: 1000px;
  }

  .foreground {
    transform: translateZ(-5px) scale(1.5);
    bottom: 0;
    max-width: 1000px;
  }

  .background,
  .middleground,
  .foreground {
    position: absolute;
    z-index: -1;
  }
}
